{% load staticfiles %}

<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name=
		"viewport" content="width=device-width, initial-scale=1    .0" />
		<title>Paloma search courses</title></title>
		<link rel="stylesheet" type="text/css" href="{% static 'search/css/main.css' %}" />
	</head>

	<body>
		<div>
		  <h2>HelvetiList</h2>
	    <ul>
	    <li><a href="#">Zurich</a></li>
	    <li><a href="#">Geneva</a></li>
	    <li><a href="#">Winterthur</a></li>
	    <li><a href="#">Lausanne</a></li>
	    <li><a href="#">Lucerne</a></li>
	  </ul>
	  </div></li>
	</ul></h>
		</div>
	</body>
</html>

