{% load staticfiles %}

<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name=
		"viewport" content="width=device-width, initial-scale=1    .0" />
		<title>Paloma search courses</title></title>
		<link rel="stylesheet" type="text/css" href="{% static 'search/css/main.css' %}" />
	</head>

	<body>
		<div>
			<h2>Cursos encontrados na internet ({{ count }})</h2>
		<ul>
		{% for course in context %}
		<li><a href="{{ course.address }}">{{ course.name }}</a></li>
		{% endfor %}
	  </ul>
	  </div></li>
	</ul></h>
		</div>
	</body>
</html>

